div{
    display: inline-block;
    color: aliceblue;
    
    
}
/*{
    background-color: silver;
    
}*/


#box1{
   
    height: 30px;
    width: 400px;
    background-color: blue;
    padding:20px;
    border: 2px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  /*  justify-content: center;*/
    
}


#two{
    height: 30px;
    width: 350px;
    background-color: blue;
    padding:20px;
    border: 2px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
   

}



#three{
    height: 30px;
    width: 400px;
    background-color: blue;
    padding:20px;
    border: 2px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    
   
}


p{
    font-size: 20px;
    width: 700px;
    padding: 20px;
    border: 20px;   

}


img{
    height: 400px;
    width: 700px;

}


.container{
    height: 300px;
    width: 700px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    border: 5px solid purple;
    color: blue;
}




p1{
    padding: 10px;
    display: block;
}

p2{
   padding: 20px;
    display: block;
}


video {
    height: 500px;
    width: 700px;
    padding: 20px 20px 20px 20px ;
}


footer{
    background-color:blue;
    height: 100px;
    width: 700px;
    text-align: center;
    font-size: 20px;
    color: antiquewhite;
    display: inline-block;
    border: 2px;
    margin: 10px;
}